
@{
    ViewBag.Title = "Zakończenie zamówienia";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h2>@User.Identity.Name: Dziękuję za zamówienie, wszystkie inforamcje będą wysłane na maila</h2>
</body>
</html>
