@model MyCompany.Areas.Admin.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Dodawanie konta";
}
<form asp-action="Create" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Hasło</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Login</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Dodać" class="btn btn-outline-secondary" />
    </div>
</form>
